{% load static %}
<!--====== Footer Start ======-->
<section class="footer-area bg_cover" style="background-image: url(/static/images/counter-bg.jpg);">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link mt-45">
                        <h4 class="footer-title">Our Campus</h4>
                        <ul class="link-list">
                            <li><a href="{% static 'about-us.html' %}">About us</a></li>
                            <li><a href="#">Campus map</a></li>
                            <li><a href="#">360O view</a></li>
                            <li><a href="#">Notice board</a></li>
                            <li><a href="{% static 'contact.html' %}">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link mt-45">
                        <h4 class="footer-title">Information</h4>
                        <ul class="link-list">
                            <li><a href="#">Admission</a></li>
                            <li><a href="#">Tuition fee</a></li>
                            <li><a href="#">Scholorship</a></li>
                            <li><a href="#">Coditions</a></li>
                            <li><a href="#">Facilities</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link mt-45">
                        <h4 class="footer-title">Useful Link</h4>
                        <ul class="link-list">
                            <li><a href="{% static 'our-courses-left-sidebar.html' %}">All Courses</a></li>
                            <li><a href="{% static 'teachers.html' %}">Our Teachers</a></li>
                            <li><a href="{% static 'event.html' %}">Our Events</a></li>
                            <li><a href="{% static 'blog-left-sidebar.html' %}">Blog post</a></li>
                            <li><a href="{% static 'faq.html' %}">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="footer-link mt-45">
                        <h4 class="footer-title">Contact Info</h4>
                        <ul class="link-list">
                            <li>
                                <p>245, New Town, Marklen Street North City, New York, USA</p>
                            </li>
                            <li>
                                <p><a href="tel:+01254659874">+01254 659 874 </a></p>
                                <p><a href="tel:+32145857458">+32145 857 458</a></p>
                            </li>
                            <li>
                                <p><a href="mailto://info@example.com">info@example.com</a></p>
                                <p><a href="#">www.example.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="copyright text-center">
                <p>&copy; Copyright all right reserved by <a href="https://hasthemes.com/">Hasthemes</a></p>
            </div>
        </div>
    </div>
</section>

<!--====== Footer Ends ======-->

<!--====== BACK TOP TOP PART START ======-->

<a href="#" class="back-to-top"><i class="fal fa-chevron-up"></i></a>

<!--====== BACK TOP TOP PART ENDS ======-->

<!--====== Start ======-->

<!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">
                    
                </div>
            </div>
        </div>
    </section>
-->

<!--====== Ends ======-->




<!--====== Jquery js ======-->
<script src="{% static '/js/vendor/jquery-3.5.1.min.js' %}"></script>
<script src="{% static '/js/vendor/modernizr-3.7.1.min.js' %}"></script>

<!--====== All Plugins js ======-->
<!-- <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/plugins/slick.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/jquery.appear.min.js"></script>
    <script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
    <script src="assets/js/plugins/wow.min.js"></script>
    <script src="assets/js/plugins/ajax-contact.js"></script> -->


<!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->

<script src="{% static '/js/plugin.min.js' %}"></script>


<!--====== Main Activation  js ======-->
<script src="{% static '/js/main.js' %}"></script>


</body>


<!-- Mirrored from htmldemo.hasthemes.com/edumate/edumate/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 11 Mar 2021 02:04:13 GMT -->

</html>